<div role="main">
  <div class="container">
    <div class="row row1">
      <div class="span7 col1">
        {% snippet 'snippets/search_field.html' %}

        {% snippet 'home/snippets/featured_group.html' %}
      </div>
      <div class="span5">
        {% snippet 'home/snippets/latest_datasets.html' %}
      </div>
    </div>
  </div>
</div>

<div role="main">

  <div class="container">
    <div class="row row2">
      <div class="span7 col1">
        {# Get "Noticias" from Wordpress #}
        {% snippet 'wordpress/snippets/latest_posts.html' %}
      </div>
      <div class="span5">
        {% snippet 'home/snippets/tags.html' %}
      </div>
    </div>
  </div>
</div>
