{% extends "page.html" %}

{% block title %}{{ _('Notícias') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <li><a class="active" href="{{h.url_for('home','index')}}noticias">Notícias</a></li>
{% endblock %}

{% macro wordpress_pagination(page_number) -%}
  <!-- Pagination -->
  <ul class="pager">
    <!-- Mobile -->
    <div class="visible-xs">
      {% if page_number < c.total_of_posts %}
        <li class="next">
          <a href="{{h.url_for('home','index')}}noticias?page={{page_number+1}}">Próxima página &rarr;</a>
        </li>
      {% endif %}
      {% if page_number > 1 %}
        <li class="previous">
          <a href="{{h.url_for('home','index')}}noticias?page={{page_number-1}}">&larr; Página anterior</a>
        </li>
      {% endif %}
    </div>
    
    <!-- Desktop -->
    <div class="hidden-xs">
      <div class="pagination" style="margin-bottom: -16px;">
        <ul>
          {% if page_number > 1 %}
            <li><a href="{{h.url_for('home','index')}}noticias?page={{page_number-1}}">Página anterior</a></li>
          {% else %}
            <li class="disabled"><a href="#" onclick="event.preventDefault()">Página anterior</a></li>
          {% endif %}

          {% for i in range(c.total_of_posts) %}
              <li {% if page_number == (i+1) %} class="active" {% endif %}>
                <a {% if page_number == (i+1) %}
                        href="#" onclick="event.preventDefault()"
                     {% else %}
                        href="{{h.url_for('home','index')}}noticias?page={{i+1}}"
                     {% endif %}>
                   {{i+1}}
                 </a>
              </li>
          {% endfor %}

          {% if page_number < c.total_of_posts %}
            <li><a href="{{h.url_for('home','index')}}noticias?page={{page_number+1}}">Próxima página</a></li>
          {% else %}
            <li class="disabled"><a href="#" onclick="event.preventDefault()">Próxima página</a></li>
          {% endif %}
        </ul>
      </div>
    </div>


  </ul>
{%- endmacro %}

 
{% block primary %}
  <div id="noticia-list">

    {% block primary_content %}
      <article class="module">
        {% block page_header %}
          <header class="module-content page-header">
            <h1>{{c.title}}</h1>
          </header>
        {% endblock %}
        <div class="module-content">

          {% for post in c.wp_posts %}
            <div class="noticia">
              <p>{{h.dadosgovbr_format_timestamp(post.date,'%d/%m/%Y')}}</p>
              <h4><a href="{{h.url_for('home','index')}}noticias/{{post.slug}}">{{post.title.rendered|safe}}</a></h4>
              <p>{{post.excerpt.rendered|safe}}</p>
              <p><a href="{{h.url_for('home','index')}}noticias/{{post.slug}}" style="color: #769F29;">leia mais</a></p>
              <hr>
            </div>
          {% endfor %}

          {{ wordpress_pagination(c.wp_page_number) }}
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}


{% block secondary %}
{% endblock %}


{% block sidebar %}{% endblock %}
