{% extends "page.html" %}

{% block title %}{{c.wp_post.title.rendered}} - {{ _('Notícias') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <li><a href="{{h.url_for('home','index')}}noticias">Notícias</a></li>
  <li><a class="active" href="{{h.url_for('home','index')}}noticias/{{c.wp_post.slug|safe}}">{{h.dadosgovbr_trim_string(c.wp_post.title.rendered, 55)|safe}}</a></li>
{% endblock %}


{% block primary %}
  <div id="noticia-content" class="noticia">
    {% block primary_content %}
      <article class="module">
        {% block page_header %}
          <header class="module-content page-header">
            <h1>{{c.wp_post.title.rendered|safe}}</h1>
          </header>
        {% endblock %}
        <div class="module-content">
          <div class="ui segment basic">
            <div id="date" class="ui top left attached label">
              Data de publicação
              <div class="detail">{{h.dadosgovbr_format_timestamp(c.wp_post.date)}}</div>
            </div>

            <div>{{c.wp_post.content.rendered|safe}}</div>

          </div>
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}


{% block secondary %}
{% endblock %}


{% block sidebar %}{% endblock %}
