<div class="box">
  <section>
    <header class="module-heading">
      <h3>
        <a href="{{h.url_for('home','index')}}noticias">Notícias</a>
      </h3>
    </header>

    <table class="table table-striped">
      <tbody>
        {% for post in h.dadosgovbr_wordpress_posts(3) %}
          <tr>
            <td>
              <div class="ui  basic ribbon label">{{h.dadosgovbr_format_timestamp(post.date,'%d/%m/%Y')}}</div>
            	<p style="margin-top: 12px;"><strong><a href="{{h.url_for('home','index')}}noticias/{{post.slug}}">{{post.title.rendered|safe}}</a></strong></p>
            	<p>{{h.dadosgovbr_trim_string(post.excerpt.rendered, 240)|safe}}</p>
              <p><a href="{{h.url_for('home','index')}}noticias/{{post.slug}}" style="color: #769F29;">leia mais</a></p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr style="margin-top: -20px;">
    <p style="margin: -4px 30px 16px;
          text-align: right;">
      <a href="{{h.url_for('home','index')}}noticias">Ver todas as notícias</a>
    </p>

  </section>
</div>
