{% extends 'package/base.html' %}

{% set pkg = c.pkg_dict %}
{% set pkg_dict = c.pkg_dict %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    <li><a href="{{h.url_for('home','index')}}{{h.dadosgovbr_get_schema_name()}}">{{h.dadosgovbr_get_schema_title(plural=True).title()}}</a></li>
    <li class="active">{% link_for _('Edit'), controller='package', action='edit', id=pkg.name %}</li>
  {% endif %}
{% endblock %}

{% block content_action %}
  {% link_for _('Ver title'.replace('title',h.dadosgovbr_get_schema_title())), controller='package', action='read', id=pkg.name, class_='btn', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_edit', _('Edit metadata'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_resources', _('Resources'), id=pkg.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}
{% endblock %}

{% block primary_content_inner %}
  {% block form %}
  {#- passing c to a snippet is bad but is required here
      for backwards compatibility with old templates and
      plugins using setup_template_variables() -#}
  {{- h.snippet(form_snippet, c=c, **form_vars) -}}
  {% endblock %}
{% endblock %}