{% extends "page.html" %}

{% block title %}{{c.wp_post.title.rendered}} - {{ _('Notícias') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <a href="{{h.url_for('home','index')}}noticias">Notícias</a>
  / <strong>{{c.wp_post.title.rendered|safe}}</strong>
{% endblock %}


{% block primary %}
  <div id="noticia-content" class="noticia primary span9">
    {% block primary_content %}
      <article class="module">
        {% block page_header %}
          <header class="module-content page-header">
            <h1>{{c.wp_post.title.rendered|safe}}</h1>
          </header>
        {% endblock %}
        <div class="module-content">
          <p>{{c.wp_post.content.rendered|safe}}</p>
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}


{% block secondary %}
  <aside id="noticia-sidebar" class="noticia secondary span3">
    <div class="module-content">
      {% block secondary_content %}
        <h2>Resumo</h2>
        <p>{{c.wp_post.excerpt.rendered|safe}}</p>

        <hr>

        <h2>Data</h2>
        <p>{{h.dadosabertos_format_timestamp(c.wp_post.modified)}}</p>
      {% endblock %}
    </div>
  </aside>
{% endblock %}


{% block sidebar %}{% endblock %}
