{# Show featured datasets from group "destaque" #}

<div class="box">
  <section id="featureddata" class="group-list module module-narrow module-shadow">
    <header class="module-heading">
      <h3> <span>{{h.link_to("Dados em destaque", h.url_for(controller='group', action='read', id='dados-em-destaque'), class_="mais")}}</span> </h3>
    </header>
    <ul class="dataset-list unstyled">
    <py:for each="link, title, notes in c.featured_datasets">
      <li class="dataset-item module-content">
        <div class="dataset-content">
          <h3 class="dataset-heading"><a href="${link}">{{title}}</a></h3>
          <p>{{notes}}</p>
        </div>
      </li>
    </py:for>
    </ul>
  </section>
</div>
