// main: extra.scss

// Notícias (Wordpress API)
// ==========================================================================

// Lista com todas as notícias
#noticia-list {
    h1 {
        margin: 0 0 14px;
    }

    div.noticia h4 {
        font-size: 18px;
    }
}

// Uma única notícia
.noticia {
    & > .module {
        margin: 0;
    }

  &#noticia-content {
    div.module-content {
        position: relative;
        padding: 0;
        @media (max-width: 767px) {
            padding: 17px 25px 25px 25px;
        }
        .conteudo {
            padding-top: 10px;
        }
    }
    h1{
        margin-bottom: 20px;
        font-size: 24px;
    }
    a, a:link, a:active {
        color: #769F29;
        text-decoration: none;
    }
  }

  &#noticia-sidebar {
    // Remove "Continuar lendo..." do Wordpress
    .module-content a {
       position: absolute !important;
       top: -9999px !important;
       left: -9999px !important;
    }
  }
}


// Páginas (Wordpress API)
// ==========================================================================
#pagina {
    #content {
      border: 1px solid #7d99aa;
      -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.5em;
      // -------
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 30px;
      background: #ececec url('../img/bg/bg_boxes.png') 0 0 repeat;

      h1 {
        margin-top: 0;
        margin-bottom: 15px;
      }
      .wrapper {
        background: none;
        border: none;
        box-shadow: none;
      }
      .page-header {
          background: none;
          padding-top: 0;
      }

      a, a:link, a:active {
          color: #769F29;
          text-decoration: none;
      }
    }

}
