// Barra do Governo Brasileiro
// ==========================================================================
#barra-brasil {
  .list {
    z-index: 9999;
  }

}

// Helpers
// ==========================================================================
.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
.pagination {
  a {
    border-radius: 0 !important;
  }
}
.nopadding {
  padding: 0 !important;
}
  

// Global
// ==========================================================================

@import "_bugfix.scss";

// Font-family
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

// Logo
body > header.masthead #site_logo {
  h1 {
    width: 100%;
    height: 100px;

    a {
      width: 100%;
      height: 80px;
      background-image: url(/img/logo-mono.png);
      background-size: auto 80px;
      background-repeat: no-repeat;

      span { display: none; }
    }
  }
  h2 {
    bottom: -1px;
  }
}

// Remove default CKAN background
body {
  background: #034811;
}

// Sidebar
body div[role='main'] section{
  h2 {
    margin-left: 0;
    margin-right: 0;
  }
}

// Titulos
h3 {
  small {
    display: inline-block;
  }
}

// Links
a {
  color: #222;
  &:hover, &.ui.basic.label:hover {
    color: #769F29;
  }
}



// Bloco de busca da homepage
body div[role='main'] form#search {
  #busca {
    width: 76%;
    border: 1px solid rgba(0, 0, 0, 0.28);
    margin: 0;
  }
  #btnbusca {
    width: 19%;
  }
  p {
    padding: 15px 5px 0;
  }
}

// Bloco de últimos datasets da homepage
#latest-datasets {
  a {
    //text-decoration: underline;
  }
}

// Tags da homepage
body div[role='main'] #top_tags {
  .tags  {
    margin: 9px;
  }
}



// Cabeçalho
// ==========================================================================
header.masthead {
  font-size: 0.9em; // FIX font-size

  .debug {
    background: rgba(0, 0, 0, 0.22);
    z-index: 999;
    padding: 6px 17px;
    color: #aaa;
    margin-top: 50px;
    max-width: 94%;
    transition: 0.5s;

    &:hover, &:focus, &:active {
      background: rgba(0, 0, 0, 1);
      transition: 0.2s;
    }
  }

  // Corrige tamanho e espaçamento do menu do header
  #barra-menu {
  	height: 34px;
  }
  #menu-horizontal .barra-apoio {
  	margin: 0px;
  }

  // Logo-imagem dos Dados Abertos
  .logo-img {
    a {
      height: 110px !important;
    }
    img {
      margin: 10px 0px;
      height: 80px;
    }
  }

  // Barra de busca
  .search-form {
    float: right;
    border: none;

    .search-input {
      width: 270px;
    }
  }

} // END cabeçalho



// Rodapé
// ==========================================================================
.footer {

  .row {
    a {
      &:hover {
        color: white;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &.outer {
    position: relative; // FIX DEBUG area
    border: none;
    background: none;

    .divisor {
      width: 90%;
      display: inline-block;
      margin: 36px auto 0;
      border-top: 1px solid #75bb83;
      padding: 0 72px;
    }
  }

  footer {
    font-size: 0.9em; // FIX font-size

    li {
    	font-size: 13px;
    }

    #colophon {
      margin: 26px 0 0;
      a {
        text-decoration: underline;
        &:hover,&:active,&:focus { color: white; cursor: pointer;}
      }
    }

    #footer-logos {
      margin-top: 30px;

      .acesso-brasil-rodape {
        float: left;
      }
      .attribution {
          margin-left: 130px;
      }

      #logo-brasil img {
        @media (min-width: 980px) {
          padding-right: 22px;
        }
      }
    }
  }
}


// END rodapé




// Novos datasets (forms)
// ==========================================================================
@media (min-width: 980px) {
  .form-horizontal .control-label {
    width: 170px;
  }
  .form-horizontal .controls {
      margin-left: 180px;
  }
  .info-block [class^="icon-"] {
     position: absolute !important;
     top: -9999px !important;
     left: -9999px !important;
  }
}



// Package (página única dos datasets)
// ==========================================================================
#feedback-eouv {
   margin: 20px 0;
}






// Debug area
// ==========================================================================
#debug {
    white-space: pre-line !important;
    word-wrap: break-word !important;
}
#debug-toggle { // Button
  opacity: 1 !important;
  background: #81bb0f;
  padding: 0 9px;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid white;
  margin: 0 20px 28px;
  display: block;
  width: 100px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 -7px 39px rgba(23, 117, 0, 0.42) inset;
}



// Scheming
// ==========================================================================
.app-modal {
  .img-main {
    width: 100%;
  }
}


// ==========================================================================
// Custom pages
// ==========================================================================
@import "_pag_wordpress.scss";
@import "_pag_home.scss";



// ==========================================================================
// Responsive versions
// ==========================================================================
@import "_r_mobile.scss";
@import "_r_tablet.scss";
@import "_r_desktop.scss";

// END file
