{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}


  <form action="/dataset" {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %} {% if c.controller == 'home' %}visible-xs{% endif %}" method="get" data-module="select-switch">
    {% block search_input %}
      <div class="search-input control-group {{ search_class }}">
        <input type="text" class="search" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
        {% block search_input_button %}
        <button type="submit" value="search">
          <i class="icon-search"></i>
          <span>{{ _('Submit') }}</span>
        </button>
        {% endblock %}
      </div>
    {% endblock %}

    {% block search_search_fields %}
      {% if fields -%}
        <span>{{ form.hidden_from_list(fields=fields) }}</span>
      {%- endif %}
    {% endblock %}
  </form>
