<div class="box">
  <section>
    <header class="module-heading">
      <h3>Notícias</h3>
    </header>

    <table class="table table-striped">
      <tbody>
        {% for post in h.dadosabertos_wordpress_posts('all', 3) %}
          <tr>
            <td>
            	<p><strong><a href="{{h.get_site_protocol_and_host()}}noticias/{{post.id}}/{{post.slug}}">{{post.title.rendered|safe}}</a></strong></p>
            	<p>{{h.dadosabertos_BeautifulSoup(post.excerpt.rendered).text|safe}}</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
</div>
