<div class="feedback-ouvidoria hidden">
  <div class="row">
    <div class="half">
      <p class="titulo-ouvidoria">Esse dado foi útil?</p>

      <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=2&amp;orgaoDestinatario=1934">
        <i class="fa fa-2x fa-thumbs-o-down fa-middle" title="Reclamação" aria-hidden="true"></i>
        <span>Reclamação</span>
      </a>
      <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=3&amp;orgaoDestinatario=1934">
        <i class="fa fa-2x fa-thumbs-o-up fa-middle" title="Elogio" aria-hidden="true"></i>
        <span>Elogio</span>
      </a>
    </div>


    <div class="half">
      <p class="titulo-ouvidoria">O que você acho da qualidade do dado?</p>
      <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=5&amp;orgaoDestinatario=1934">
        <i class="fa fa-2x fa-commenting-o fa-middle" title="Sugestão" aria-hidden="true"></i>
        <span>Sugestão</span>
      </a>
    </div>
  </div>
</div>
