<div class="feedback-ouvidoria">
  <!--<p class="titulo-ouvidoria">Avalie esse serviço: </p>-->

  <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=1&amp;orgaoDestinatario=1934">
    <i class="fa fa-2x fa-bullhorn fa-middle" title="Denúncia" aria-hidden="true"></i>
    <span>Denúncia</span>
  </a>

  <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=2&amp;orgaoDestinatario=1934">
    <i class="fa fa-2x fa-thumbs-o-down fa-middle" title="Reclamação" aria-hidden="true"></i>
    <span>Reclamação</span>
  </a>

  <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=4&amp;orgaoDestinatario=1934">
    <i class="fa fa-2x fa-child fa-middle" title="Solicitação" aria-hidden="true"></i>
    <span>Solicitação</span>
  </a>

  <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=5&amp;orgaoDestinatario=1934">
    <i class="fa fa-2x fa-commenting-o fa-middle" title="Sugestão" aria-hidden="true"></i>
    <span>Sugestão</span>
  </a>

  <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=3&amp;orgaoDestinatario=1934">
    <i class="fa fa-2x fa-thumbs-o-up fa-middle" title="Elogio" aria-hidden="true"></i>
    <span>Elogio</span>
  </a>
</div>
