{% ckan_extends %}
      {% block styles %}
        {{ super() }}

        <!-- CSS Imports -->
        <link rel="stylesheet" href="/css/application.css" />
        <link rel="stylesheet" href="/css/bootstrap3-grid.min.css" />
        <link rel="stylesheet" href="/css/extra.min.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="icon" type="image/png" href="/img/dadosgovbr.ico">
      {% endblock %}

      {% block meta %}
        {{ super() }}
        <meta name="description" value="O Portal Brasileiro de Dados Abertos (dados.gov.br) é o sítio eletrônico de referência para a busca e o acesso aos dados públicos, seus metadados, informações, aplicativos e serviços relacionados." />
      {% endblock %}
