{{c.group.name}}

<div class="container">
  {% block footer_content %}
  <div class="footer outer">
    <div class="footer inner bs3">
      <footer>
        <!-- Navegação do Rodapé -->
        <div class="row">
          <div class="col-sm-6 col-md-3" id="portal">
            <h3> O Portal </h3>
            <ul>
              <li>
                <a href="/dataset/"> Cat&aacute;logo </a>
              </li>
              <li>
                <a href="/organization/"> Organizações </a>
              </li>
              <li>
                <a href="/pagina/cadastrar-organizacao/"> Catalogue seus dados </a>
              </li>
              <li>
                <a href="/pagina/mapa-do-site/"> Mapa do site </a>
              </li>
              <li>
                <a href="/pagina/sobre/"> Sobre o portal </a>
              </li>
              <li>
                <a href="/pagina/faq/"> Perguntas frequentes </a>
              </li>
              <li>
                <a href="/pagina/dev/"> Desenvolvimento do portal </a>
              </li>
              <li>
                <a href="/pagina/agradecimentos/"> Agradecimentos </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3" id="comunidade">
            <h3> Comunidade </h3>
            <ul>
              <li>
                <a href="/pagina/comunidade"> Comunidades </a>
              </li>
              <li>
                <a target="_blank" href="http://twitter.com/dadosgovbr"> Twitter </a>
              </li>
              <li>
                <a target="_blank" href="http://identi.ca/dadosgovbr"> Identi.ca </a>
              </li>
              <li>
                <a target="_blank" href="https://groups.google.com/forum/#!forum/inda-br"> Lista de discussão </a>
              </li>
              <li>
                <a href="/pagina/ferramentas-colaboracao/"> Ferramentas de colabora&ccedil;&atilde;o </a>
              </li>
              <li>
                <a href="/revision/list"> &Uacute;ltimas alterações </a>
              </li>
              <li>
                <a href="/pagina/sugira-dados/"> Sugira dados </a>
              </li>
              <li>
                <a href="/pagina/agenda/"> Agenda </a>
              </li>
              <li>
                <a href="/pagina/contato/"> Sugest&otilde;es </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 visible-sm" style="text-align: center">
            <hr class="divisor">
          </div>
          <div class="col-sm-6 col-md-3" id="manuais">
            <h3> Manuais </h3>
            <ul>
              <li>
                <a href="/pagina/cartilha-publicacao-dados-abertos/"> Cartilha de publicação de dados </a>
              </li>
              <li>
                <a target="_blank" href="http://wiki.gtinda.ibge.gov.br/GetFile.aspx?File=%2fGT3-Tecnologia%2fArquitetura%20Tecnica%20Referencial%20de%20Abertura%20de%20Dados%20v1%20edicao_duke.odt"> Arquitetura Técnica Referencial </a>
              </li>
              <li>
                <a target="_blank" href="http://wiki.dados.gov.br/Capacitacao-para-Catalogacao-de-Dados.ashx">Manual de Catalogação</a>
              </li>
              <li>
                <a target="_blank" href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/Manual_Dados_Abertos_WEB.pdf"> Manual de Dados Abertos <abbr title="World Wide Web Consortium">W3C</abbr></a>
              </li>
              <li>
                <a target="_blank" href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/manual_dados_abertos_desenvolvedores_web.pdf"> Manual do desenvolvedor <abbr title="World Wide Web Consortium">W3C</abbr></a>
              </li>
              <li>
                <a target="_blank" href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/encarte_manual_desenvolvedores_web.pdf"> Cartilha do desenvolvedor <abbr title="World Wide Web Consortium">W3C</abbr> </a>
              </li>
              <li>
                <a target="_blank" href="http://opendatahandbook.org/guide/pt_BR/"> Guia de Dados Abertos <abbr title="Open Knowledge International">OKI</abbr> </a>
              </li>
              <li>
                <a target="_blank" href="http://www.planejamento.gov.br/secretarias/upload/arquivo/governo-aberto/copy_of_manual_elaboracao_plano_dados_abertos.pdf/@@download/file/manual_elaboracao_plano_dados_abertos.pdf"> Manual para Elaboração de Planos de Dados Abertos </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3" id="about">
            <h3> Saiba mais </h3>
            <ul>
              <li>
                <a href="/pagina/dados-abertos/"> O que são dados abertos? </a>
              </li>
              <li>
                <a target="_blank" href="http://www.acessoainformacao.gov.br/"> Lei de acesso a informação </a>
              </li>
              <li>
                <a target="_blank" href="http://wiki.gtinda.ibge.gov.br/"> Wiki da <abbr title="Infraestrutura Nacional de Dados Abertos">INDA</abbr> </a>
              </li>
              <li>
                <a href="/pagina/instrucao-normativa-da-inda/"> Instrução Normativa da <abbr title="Infraestrutura Nacional de Dados Abertos">INDA</abbr> </a>
              </li>
              <li>
                <a target="_blank" href="http://www.opengovpartnership.org/"> Parceria para Governo Aberto </a>
              </li>
              <li>
                <a href="/pagina/outras-iniciativas/"> Outras iniciativas </a>
              </li>
              <li>
                <a target="_blank" href="http://i3gov.planejamento.gov.br/"> Indicadores de governo </a>
              </li>
              <li>
                <a target="_blank" href="http://paineis.cgu.gov.br/dadosabertos/index.htm"> Painel de Monitoramento </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- FIM Navegação do Rodapé -->


        <div id="colophon">
          Desenvolvido pela <a target="_blank" href="http://www.planejamento.gov.br/acesso-a-informacao/institucional/unidades/sti">Secretaria de Tecnologia da Informação</a>, <a target="_blank" href="http://www.planejamento.gov.br/">Ministério do Planejamento, Desenvolvimento e Gestão</a>.
          <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">
            <br />
            <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
            Todo conteúdo licenciado sob uma  Licença <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">
              Creative Commons Attribution-ShareAlike 3.0 Unported</a>.
              <br/>
              Logotipo Licenciado sob <a href="http://www.softwarepublico.gov.br/lpm" target="_blank">Licença Pública de Marca</a>.
        </div>

        <!-- Logos "Acesso a informação", "CKAN" e "Governo Brasileiro" -->
        <div class="row" id="footer-logos">
          <div class="col-xs-6">
            <div class="acesso-brasil-rodape">
              <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
                <img src="/img/acesso-a-informacao2.png" alt="Acesso a Informação"/>
              </a>
            </div>

            <div class="attribution">
              {% block footer_attribution %}
              <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
              {% endblock %}
            </div>
          </div><!-- /.col-xs-6 -->


          <div class="col-xs-6">
            <div>
              <a href="http://www.brasil.gov.br/" id="logo-brasil">
                <img src="/img/brasil2.png" alt="Brasil - Governo Federal"/>
              </a>
            </div>
          </div><!-- /.col-xs-6 -->

        </div><!-- /.row -->

      </footer>
    </div>
  </div>
  {% endblock %}
</div>

    {% block footer_debug %}
    {% if g.debug %}
    {% include 'snippets/debug.html' %}
    {% endif %}
    {% endblock %}
</div>



  <script src="https://barra.brasil.gov.br/barra.js" type="text/javascript"></script>


  <!-- GA -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-27511850-1', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End GA -->
